h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --iris: #4d5ae5;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --border: #e7e9fc;
  --hover: #404bbf;
  --overlay: rgba(77, 90, 229, 0.9);
}

/* ========== BASE ========== */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu-link,
.contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== CONTAINER & SECTION ========== */
/* mobile first */
.container {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

/* tablet 768+ */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding: 96px 0;
  }
}

/* desktop 1158+ */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding: 120px 0;
  }
}

/* ========== HEADER ========== */
.header {
  border-bottom: 1px solid var(--border);
  background-color: var(--white);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

/* nav */
.nav-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  display: inline-block;
  margin-right: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-span {
  color: var(--navy-blue);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  position: relative;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover);
}

.menu-link.current {
  color: var(--hover);
}
.menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover);
}

.contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contact-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover);
}

/* на планшеті/десктопі додаємо відступ логотипу */
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 76px;
  }
}

/* ========== HERO ========== */
.hero-section {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding: 112px 0;
  color: var(--white);
  background-color: var(--navy-blue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover);
}

/* hero – планшет/десктоп */
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .hero-section {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* ========== SECTION TITLES ========== */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  text-align: center;
  margin-bottom: 72px;
}

/* ========== FEATURES ========== */
/* mobile first: одна колонка */
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.feature-icon {
  display: none; /* в макеті іконки тільки з десктопу */
}

.features-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* tablet */
@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .feature-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--cloud);
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }

  .features-title {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* ========== TEAM ========== */
.team {
  background-color: var(--cloud);
}

/* mobile: по одному */
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.team-item {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 1px 6px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.team-card {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* соц-іконки */
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}
.team .social-link:hover,
.team .social-link:focus {
  background-color: #404bbf;
}
.team-social-icon {
  display: block;
  fill: var(--cloud);
}

/* tablet */
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* ========== PORTFOLIO ========== */
/* mobile: 1 в ряд */
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  background-color: var(--white);
}

.portfolio-item:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* thumb + overlay */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--cloud);
  padding: 40px 32px;
  transform: translateY(100%);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-item:hover .overlay {
  transform: translateY(0);
}

.portfolio-box {
  border: 1px solid var(--border);
  border-top: none;
  padding: 32px 16px;
}
.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* tablet */
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

/* desktop */
@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ========== FOOTER ========== */
.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

/* brand */
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font


